@font-face {
    font-family: League-Spartan;
    src: url("LeagueSpartan-Bold.otf") format("opentype");
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0000;
}

.welcome {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #28464b;
    color: #ffff;
    display: flex;
    justify-content: left;
    align-items: center;
}

.welcome-content {
    position: relative;
    width: 100%;
    height: 40%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
    padding-left: 5%;
}

.welcome-text {
    position: relative;
    width: 100%;
    font-family: "League-Spartan", "Helvetica", "Arial", "sans-serif";
    line-height: 1.5;
    font-size: 40px;
    font-weight: 200;
}

.welcome-text h2 {
    font-family: "Libre Baskerville", Times, serif;
    font-size: 20px;
    font-weight: 100;
}

.welcome-text span {
    font-weight: bold;
    color: #42d9c8;
}
.welcome-text p {
    margin-top: 10%;
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    font-size: 20px;
} 

ul {
    display: inline-block;
    list-style: none;
    padding-right: 30px;
    line-height: 3;
}